.generaldiv{
    position: absolute;
    z-index: 0;

    min-width: 80%;

    width: 92%;
    height: 1600px;
    left: 75px;
    top: 40%;

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 25px;

    /* display: grid;
    grid-template-columns: 400px 400px 100px;
    grid-gap: 30px; */

    display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 0px;
  grid-auto-rows: 500px 500px;
}

.good{
    margin: 50px;
    height: 200px;
}

.generalbutton{
    position: absolute;
    z-index: 1;

    background: linear-gradient(180deg, #8F5AD3 0%, #452968 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:17px;
	padding:16px 31px;
    text-align: center;
	text-decoration:none;
}

.generalbutton:link{
    color: #ffffff;
}

.generalbutton:visited{
    color: #ffffff;
}

body{
    background-image: url('https://img5.goodfon.ru/wallpaper/nbig/9/23/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-16.jpg');
}
