.generalbody{
    position: absolute;
    width: 1440px;
    height: 1506px;

    background: #3D1B75;
}

.generaldiv{
    position: absolute;
    z-index: 0;

    width: 1290px;
    height: 1500px;
    left: 75px;
    top: 184px;

    background: #6D33B8;
    box-shadow: inset 0px 4px 65px 17px rgba(56, 36, 55, 0.51);
    border-radius: 100px;
}

.generalbutton{
    position: absolute;
    z-index: 1;

    background: linear-gradient(180deg, #8F5AD3 0%, #452968 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:17px;
	padding:16px 31px;
    text-align: center;
	text-decoration:none;
}

.generalbutton:link{
    color: #ffffff;
}

.generalbutton:visited{
    color: #ffffff;
}

body{
    background: #3D1B75;
}