/* a .simple-ref {
    display: none;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    align-content: center;
    color: #FFFFFF;
}

.simple-ref:hover{
    font-weight: bold;
}

.simple-ref:visited{
    color: #FFFFFF;
    text-decoration: line-through;
} */ 